import 'reflect-metadata';
import { ConsoleLogger } from '@nestjs/common';
import { NestFactory } from '@nestjs/core';
import { installShutdown } from '@starter/nest-support/operations';
import { AppModule } from './composition/app.module';
import { httpPort } from './configs/environment';

const app = await NestFactory.create(AppModule, {
  logger: new ConsoleLogger({ json: true, flattenParams: true }),
});
installShutdown(app);
await app.listen(httpPort(), '0.0.0.0');
