import { get } from 'env-var';

export function configuration(): {
  port: number;
  broker: string;
  queue: string;
} {
  return {
    port: get('__PREFIX___HTTP_PORT').required().asPortNumber(),
    broker: get('__PREFIX___RABBITMQ_URL').required().asString(),
    queue: get('__PREFIX___RABBITMQ_QUEUE')
      .default('__name__.commands.v1')
      .asString(),
  };
}
